/* Tailwind base */
@tailwind base;
@tailwind components;
@tailwind utilities;

/* Theme styles */
body.light {
  --bg: white;
  --text: black;
}

body.dark {
  --bg: black;
  --text: white;
}

body {
  background: var(--bg);
  color: var(--text);
}
